<main>
    <div>
        <h1>Edit</h1>
        {{#if error}}
            <p>{{message}}</p>
        {{/if}}
        <form action="/admin/edit" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{nft.id}}" />
            <input type="hidden" name="img_org" value="{{nft.imgpath}}" />
            <div class="editInput">
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{nft.name}}">
            </div>
            <div class="editInput">
                <label for="price">Price USD:</label>
                <input type="number" name="price" value="{{nft.price}}">
            </div>
            <div class="editImg">
                <label for="imgpath">Img:</label>
                <input type="file" name="imgpath">
            </div>
            <div class="editImg">
                <label for="current">Delete current NFT?</label>
                <input type="checkbox" name="delcurrent" id="delcurrent" value="1" />
            </div>
            <div>
                <input class="btnContact" type="submit" value="Edit" />
            </div>
        </form>
    </div>
</main>